{% extends 'base.html' %}
{% block title %}{{ product.name }} — Skystore{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4 box-shadow">
        {% if product.image %}
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ product.name }}</h2>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Цена:</strong> {{ product.purchase_price }} ₽</p>
          <p class="card-text"><strong>Категория:</strong> {{ product.category.name }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
